h1, h2, h3{
    color:green;
}
h1{
    font-size: 18px;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
}



a{
    color:red;
    text-decoration: none;
}
a:hover{
    color:green;
    text-decoration: none;
}